html,
body {
  padding: 0 !important;
}

.github-markdown-body {
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100% !important;

  .github-markdown-content {
    padding: 32px;
    max-width: 980px;
    min-width: 200px;
    margin: 0 auto;

    blockquote {
      background-color: initial;
    }

    pre {
      color: initial;
      border: none;
    }

    code {
      color: inherit;
    }

    pre code {
      color: initial;
    }

    code > div {
      background: none;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
