@import url("./theme.css");

/* Remove default margins */
* {
  margin: 0;
}

html {
  background-color: #18063d;
}

html,
body {
  height: 100%;
  height: 100dvh;
  padding: 0;
  overflow: hidden;
}

@media (display-mode: standalone) {
  html,
  body {
    height: 100vh;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cw-main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  height: 100%;
  /* https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    max(32px, env(safe-area-inset-bottom)) env(safe-area-inset-left);
  backdrop-filter: brightness(0.7);
  color: #fcecfe;
  font: 400 var(--fs-body) / 1.3 var(--family-body);
  overflow: auto;

  > section {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 100%;
    max-width: 80ch;
    backface-visibility: hidden;
  }

  @media screen and (max-width: 522px) {
    gap: unset;
  }
}
