/* This file resets some common CSS properties
 * so that we can get a consistent look between
 * different browsers
 */

/* Use a sensible box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ios safari perf */
* {
  backdrop-filter: initial;
  filter: initial;
}

/* Don't underline Links */
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* Better media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
[role="button"] {
  cursor: pointer;
}
a {
  touch-action: manipulation;
}

ul {
  all: unset;
}
