---
import Main from "../layouts/Main.astro";
import Logo from "../components/logo.svg";
import SocialLink from "../components/SocialLink.astro";
import Discord from "../icons/discord.svg";
import Luma from "../icons/luma.svg";
import Twitter from "../icons/twitter.svg";
import Instagram from "../icons/instagram.svg";
---

<style is:global>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  span {
    font-family: 400 var(--bs) / 1.3 var(--family-accent);
    text-transform: uppercase;
    background:
      linear-gradient(rgba(255, 255, 255, 0.75)),
      linear-gradient(#ffffff 0%, #d3b8d7 100%);
    background-blend-mode: soft-light, normal;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: hard-light;
    filter: drop-shadow(0px 0px 1px rgba(40, 0, 0, 0.9))
      drop-shadow(0px 0px 7.06722px rgba(0, 0, 0, 0.75))
      drop-shadow(0px 0px 14.1344px rgba(0, 0, 0, 0.5));
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: fit-content;
    list-style: none;
  }
</style>

<Main title="Home">
  <section>
    <Logo />
    <span>Dota 2 Esports Community</span>

    <ul class="links">
      <SocialLink id="discord" url="//discord.gg/crimsonwitnesses">
        <Discord />
        <span>Discord</span>
      </SocialLink>

      <SocialLink id="luma" url="//luma.com/crimsonwitnesses">
        <Luma />
        <span>Events</span>
      </SocialLink>

      <SocialLink id="twitter" url="//x.com/crimwitnesses">
        <Twitter />
        <span>Twitter</span>
      </SocialLink>

      <SocialLink id="instagram" url="//www.instagram.com/crimson_witnesses">
        <Instagram />
        <span>Instagram</span>
      </SocialLink>
    </ul>
  </section>
</Main>
