---
import Code from "./code.svg";
---

<style is:global>
  .qrCode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: stretch;
    max-width: 80ch;
    margin: 0;
    padding: 0;
    padding-inline: 2.4rem;
    height: fit-content;
  }

  .figure {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: stretch;
    height: fit-content;

    h1 {
      display: flex;
      justify-content: center;
      width: stretch;
      margin: 0;
      padding: 0;
      font: 900 32px / 1.3 var(--family-display);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      user-select: none;

      background-image: linear-gradient(#ffffff 0%, #d3b8d7 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: hard-light;
    }

    h2 {
      display: flex;
      justify-content: center;
      width: stretch;
      margin: 0;
      padding: 0;
      font: 900 24px / 1.3 var(--family-display);
      letter-spacing: 0.08em;
      text-transform: uppercase;
      user-select: none;

      background-image: linear-gradient(#ffffff 0%, #d3b8d7 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: hard-light;
    }
  }
</style>

<article class="qrCode">
  <div class="figure">
    <h1>Scan to visit</h1>
    <Code />
    <h2>crimsonwitnesses.com</h2>
  </div>
</article>
