---
import ArrowUp from "../icons/arrow-up.svg";
import Glow from "./glow.svg";
---

<style is:global>
  #cw-main {
    container-type: scroll-state;
  }

  #back-to-top {
    all: unset;
    place-self: end;
    position: sticky;
    inset-block-end: 0px;
    inset-inline-end: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    border-radius: 20px;
    background:
      linear-gradient(
        182.41deg,
        rgba(241, 241, 241, 0.06) -27.41%,
        rgba(153, 153, 153, 0) 151.75%
      ),
      rgba(40, 34, 105, 0.37);
    box-shadow:
      inset -0.5px -0.75px 1px rgba(242, 242, 255, 0.5),
      inset 0.5px 0.75px 1px rgba(242, 242, 255, 0.5),
      inset 0px -4px 5px rgba(159, 33, 232, 0.51);
    mix-blend-mode: hard-light;
    filter: drop-shadow(0px 0px 4px oklch(0.31 0.12 280.56 / 0.35))
      drop-shadow(0px 0px 2px oklch(0.31 0.12 280.56 / 0.75))
      drop-shadow(0px 0px 1px oklch(0.31 0.12 280.56 / 0.95));
    opacity: 1;
    transition:
      translate 0.2s ease,
      opacity 0.2s ease;
    cursor: pointer;

    @container not scroll-state(scrollable: top) {
      translate: 0 calc(100% + 10px);
      opacity: 0;
    }

    svg:first-child {
      width: 32px;
      height: 32px;
      mix-blend-mode: plus-lighter;
      fill: url(#svg-fill-2);
    }

    svg:last-child {
      position: absolute;
      opacity: 0;
      left: 4px;
      bottom: 2px;
      width: calc(100% - 8px);
      height: fit-content;
      mix-blend-mode: color-dodge;
      filter: blur(2.5px);
      /* blur perf hack */
      transform: translate3d(0, 0, 0);
      transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      pointer-events: none;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      filter: drop-shadow(0px 0px 4.5px rgba(50, 33, 229, 0.5))
        drop-shadow(0px 0px 1px rgba(50, 33, 229, 0.9));
      box-shadow:
        0px 12px 24px rgba(159, 33, 232, 0.5),
        0px 8px 12px rgba(159, 33, 232, 0.25),
        0px 1px 1px rgba(0, 0, 0, 0.35),
        0px 2px 2px rgba(0, 0, 0, 0.25),
        inset 0px -1px 1px rgba(242, 242, 255, 0.5),
        inset 0px 1px 1px rgba(242, 242, 255, 0.5),
        inset 0px 6px 8px rgba(159, 33, 232, 0.75),
        inset 0px -4px 5px rgba(159, 33, 232, 0.85);

      svg:last-child {
        opacity: 1;
      }
    }
  }
</style>

<script>
  const button = document.getElementById(`back-to-top`);

  button?.addEventListener("click", () => {
    button.closest(`#cw-main`)?.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
</script>

<button type="button" id="back-to-top" aria-label="Top of page">
  <ArrowUp />
  <Glow />
</button>
