<style>
  #shaders {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
</style>

<div id="shaders" transition:persist></div>

<script>
  import "./shaders/prismatic"
  import "./shaders/galaxy"
</script>
