---
import Glow from "./glow.svg";
type Props = {
  readonly url: string;
};

const { url } = Astro.props;
---

<style is:global>
  .socialLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: fit-content;
    min-width: 256px;
    padding: 4px 20px;
    border-radius: 12px;
    background:
      linear-gradient(
        182.41deg,
        rgba(241, 241, 241, 0.06) -27.41%,
        rgba(153, 153, 153, 0) 151.75%
      ),
      rgba(40, 34, 105, 0.37);
    box-shadow:
      inset -0.5px -0.75px 1px rgba(242, 242, 255, 0.5),
      inset 0.5px 0.75px 1px rgba(242, 242, 255, 0.5),
      inset 0px -4px 5px rgba(159, 33, 232, 0.51);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus-visible {
      outline: none;
      box-shadow:
        0px 19.4223px 36.6866px rgba(159, 33, 232, 0.5),
        0px 5.85527px 11.06px rgba(159, 33, 232, 0.22154),
        0px 1px 1px rgba(0, 0, 0, 0.35),
        0px 2px 2px rgba(0, 0, 0, 0.25),
        inset 0px -1px 1px rgba(242, 242, 255, 0.5),
        inset 0px 1px 1px rgba(242, 242, 255, 0.5),
        inset 0px 6px 8px rgba(159, 33, 232, 0.78),
        inset 0px -4px 5px rgba(159, 33, 232, 0.84);

      svg:last-child {
        opacity: 1;
      }
    }

    svg:first-child {
      width: 24px;
      height: 24px;
      mix-blend-mode: plus-lighter;
      fill: url(#svg-fill-2);
      filter: drop-shadow(0px 0px 4.5px rgba(50, 33, 229, 0.5))
        drop-shadow(0px 0px 1px rgba(50, 33, 229, 0.9))
        drop-shadow(0px 0px 2px rgba(50, 33, 229, 0.75));
    }

    svg:last-child {
      position: absolute;
      opacity: 0;
      bottom: 0;
      mix-blend-mode: color-dodge;
      filter: blur(4.45px);
      transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    span {
      font: 800 30px / 140% "Gemunu Libre";
      letter-spacing: 0.08em;
      text-transform: uppercase;
      user-select: none;

      background-image: linear-gradient(#ffffff 0%, #d3b8d7 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      mix-blend-mode: plus-lighter;
      filter: drop-shadow(0px 0px 4.5px rgba(50, 33, 229, 0.5))
        drop-shadow(0px 0px 1px rgba(50, 33, 229, 0.9));
    }
  }
</style>

<li>
  <a class="socialLink" href={url} target="_blank" rel="noopener noreferrer">
    <slot />
    <Glow />
  </a>
</li>
